section {
  background-color: hsla(0, 0%, 0%, 0.6);
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: -1rem -1rem 1rem -1rem;
  padding: 1rem;
  justify-content: space-evenly;
  min-height: 30vh;
}

p.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 8rem;
  margin: 0;
  span {
    padding-bottom: 1rem;
  }
}

p.save-the-date {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  span {
    color: white;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: lighter;
  }
}

div.buttons {
  button {
    margin: 0 1rem;
  }
}

@media (max-width: 959px) {
  p.counter {
    font-size: 2rem;
  }
  div.buttons {
    button {
      font-size: 0.7rem;
    }
  }
}
