<mat-nav-list fxLayout="column">
  <a
    routerLink="/home"
    routerLinkActive="active-link"
    (click)="onSidenavClose()"
    >Boulder Bike Tour</a
  >
  <a
    routerLink="/photos"
    routerLinkActive="active-link"
    (click)="onSidenavClose()"
    >Photos</a
  >
  <a
    routerLink="/location"
    routerLinkActive="active-link"
    (click)="onSidenavClose()"
    >Location</a
  >
  <a
    *ngIf="globals.isRidersActive"
    routerLink="/riders"
    routerLinkActive="active-link"
    (click)="onSidenavClose()"
    >Riders</a
  >
  <a
    routerLink="/contest"
    routerLinkActive="active-link"
    (click)="onSidenavClose()"
    >Contest</a
  >
</mat-nav-list>
