@import '~src/scss/variables';
@import '~src/scss/mixins';

section {
  height: calc(100vh - #{$mat-toolbar-height});
  // padding: 1rem;
  margin-top: $mat-toolbar-height;
  // background-color: hsla(150, 100%, 50%, 0.2);
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

// .form-container {
//   display: flex;
//   flex-direction: column;
// }

// .form-container > * {
//   width: 100%;
// }

button.mat-stroked-button {
  margin-top: 1rem;
  align-self: flex-end;
}
