<!-- <ngx-masonry-gallery [width]="50" [images]="images"></ngx-masonry-gallery> -->
<ngx-masonry
  [useImagesLoaded]="true"
  [options]="myOptions"
  [updateLayout]="updateMasonryLayout"
>
  <div class="masonry-sizer"></div>
  <div
    ngxMasonryItem
    class="masonry-item"
    *ngFor="let item of masonryItems; index as i"
  >
    <div class="container">
      <img src="{{ item.src }}" class="img--{{ i }}" />
      <p class="title">{{ item.title }}</p>
    </div>
  </div>
</ngx-masonry>

<!-- html += '<div class="grid-item">';
    html += '<img src="' + src + '"';
    html += '
      </div>'; -->
