<mat-toolbar class="toolbar">
  <div fxHide.gt-xs fxLayout fxLayoutAlign="center center">
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
    <div>Boulder Bike Tour</div>
  </div>
  <div fxFlex fxLayout fxHide.xs>
    <ul
      fxLayout
      fxLayoutGap="15px"
      fxLayoutAlign="space-around"
      fxFlex="1 1 auto"
      class="navigation-items"
    >
      <li>
        <a routerLink="/home" routerLinkActive="active-link"
          >Boulder Bike Tour</a
        >
      </li>
      <li><a routerLink="/photos" routerLinkActive="active-link">Photos</a></li>
      <li>
        <a routerLink="/location" routerLinkActive="active-link">Location</a>
      </li>
      <li *ngIf="globals.isRidersActive">
        <a routerLink="/riders" routerLinkActive="active-link">Riders</a>
      </li>
      <li>
        <a routerLink="/contest" routerLinkActive="active-link">Contest</a>
      </li>
    </ul>
  </div>
</mat-toolbar>
