a {
  text-decoration: none;
  color: white;
}

a:hover,
a:active {
  color: lightgray;
}

.navigation-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

mat-toolbar {
  background-color: hsla(0, 0%, 20%, 1);
  position: fixed;
  color: white;
  height: 48px;
}

@media (max-width: 959px) {
}
