@import '~src/scss/variables';
@import '~src/scss/mixins';

a {
  text-decoration: none;
  color: white;
}

a:active,
a.active-link {
  color: lightgray;
  border-bottom: 1px solid red;
}

a:hover {
  color: lightgray;
}

.navigation-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

mat-toolbar {
  background-color: hsla(0, 0%, 20%, 1);
  position: fixed;
  color: white;
  height: $mat-toolbar-height;
  z-index: 10000;
}

@media (max-width: 959px) {
}
