<section>
  <agm-map [fitBounds]="true" [mapTypeControl]="true">
    <agm-marker
      *ngFor="let m of markers; let i = index"
      [agmFitBounds]="true"
      [latitude]="m.lat"
      [longitude]="m.lng"
      [opacity]="0"
    >
      <agm-overlay [latitude]="m.lat" [longitude]="m.lng">
        <div>
          <img
            class="marker-image"
            src="{{ m.img }}"
            style="width: 100%; height: auto"
          />
        </div>
      </agm-overlay>
      <!-- <agm-info-window
        ></agm-info-window
      > -->
      <agm-snazzy-info-window
        [maxWidth]="500"
        [maxHeight]="500"
        [closeWhenOthersOpen]="true"
        [wrapperClass]="'agmSnazzyInfoWindow'"
      >
        <ng-template>
          <p class="name">{{ m.firstName }} {{ m.lastName }}</p>
          <p class="city">
            {{ m.cityOfOrigin }}
            <span class="stateOfOrigin">({{ m.stateOfOrigin }})</span>
          </p>
          <img src="{{ m.img }}" />
          <p class="quote">{{ m.quote }}</p>
        </ng-template>
      </agm-snazzy-info-window>
    </agm-marker>
  </agm-map>
</section>

<!-- [iconUrl]="m.img" -->
