@import '~src/scss/variables';
@import '~src/scss/mixins';

section {
  height: calc(100vh - #{$mat-toolbar-height});
  // padding: 1rem;
  margin-top: $mat-toolbar-height;
  background-color: hsla(150, 100%, 50%, 0.2);
  overflow: hidden;
}
agm-map {
  height: 100%;
}

agm-map img[src*='random'] {
  border-radius: 100px;
  width: 50px !important;
  height: auto !important;
  position: absolute;
  top: -25px;
  left: -15px;
}
