<section>
  <app-counter enddate="2020-04-01 10:00:00"></app-counter>
  <p class="lead">
    <span>
      Once every decade, an exciting, prestigious, and inspiring bike race takes
      place in Colorado at the foot of the Rocky Mountains. It's the Boulder
      Bike Tour, and it's coming up in 2020!</span
    >
    <span>
      The full routes and race schedule has been officially unveiled!</span
    >
    <span>
      The race starts on 2020-04-01 at 10:00. This time, a time trial event of
      20 elite riders will replace the separate men’s and women’s trade team
      time trials.</span
    >
    <span>
      This year, we are sponsoring for anyone to come up with a slogan for the
      race. Visit our <a routerLink="/contest">contest</a> page, fill in your
      details and a slogan idea under 50 characters and join this year's Boulder
      Biker tour for free!</span
    >
  </p>
</section>
