@import '~src/scss/variables';
@import '~src/scss/mixins';

section {
  height: calc(100vh - #{$mat-toolbar-height} - 2rem);
  background-color: rgba(255, 0, 0, 0.3);
  padding: 1rem;
  margin-top: $mat-toolbar-height;
  background-image: url('../../assets/bicyclerace.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

p.lead {
  max-width: 920px;
  margin: auto;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 1);
  padding: 2rem;
  margin-top: 8rem;
  font-size: 1.5rem;
  font-weight: lighter;
  span {
    padding: 1rem;
  }
}

@media (max-width: 959px) {
  section {
    height: calc(100% - #{$mat-toolbar-height} - 2rem);
  }
  p.lead {
    font-size: 1.25rem;
    padding: 1rem;
    margin-top: 2rem;
  }
}
